[project]
name = "connecpy"
version = "1.3.0"
description = "Code generator, server library and client library for the Connect Protocol"
authors = [
    { name = "Yasushi Itoh" }
]
dependencies = [
    "httpx",
    "protobuf",
    "starlette",
    "zstd-asgi>=0.2",
    "brotli-asgi>=1.4.0",
]
readme = "README.md"
requires-python = ">= 3.9"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
managed = true
dev-dependencies = [
    "black",
    "grpcio-tools",
    "uvicorn",
    "grpcio",
    "protobuf",
    "brotli_asgi",
    "hypercorn",
    "daphne",
    "pip>=24.0",
    "pytest>=8.3.4",
    "pytest-asyncio>=0.25.2",
    "zstd-asgi>=0.2",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/connecpy"]
